/*@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}*/


/*    body    */

body {
  background-color: #ecf0f1;
}


/*    Navigation    */

.navbar {
  height: 50px;
  background-color: rgba(26, 26, 26, 0.4);
  font-family: "Open Sans";
}

.navbar .light, a {
  color: #ecf0f1;

}

a.navbar-brand.page-scroll:hover {
  color: rgba(236, 240, 241, 1);
}




i.fa {
  color: #fff;
}

/*    Header    */

.row.text-center {
  font-family: "Open Sans";
}

.row.text-center h1 {
  font-family: "Open Sans";
  font-size: 44px;
  color: #ecf0f1;
}

.row.text-center p {
  font-size: 20px;
  margin-top: 30px;
  color: #ecf0f1;
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(img/coffee-farm.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


/*    About    */

#about {
  margin: 20px 0px 20px 0px;
  height: 300px;
}

#about .text-center {
  margin-top: 4.33%;
  margin-bottom: 4.33%;
}

#about h3 {
  margin: 40px;
  font-family: "Playfair Display";
}

#about p {
  font-family: "Open Sans";
  text-align: center;
}

/*    Services    */

#services {
  margin: 20px 0px 20px 0px;
  background-color: rgba(41, 128, 185, 0.8);
  color: #eee;
}

#services .services-icon i {
  margin: 10px;
  color: #eee;
}

#services h3 {
  margin: 40px;
  font-family: "Playfair Display";
  font-size: 38px;

}

#services h5 {
  margin: 10px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 28px;
}

#services p {
  font-family: "Open Sans";
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 18px;
}




/*    Partners    */

#partners {
  margin: 20px 0px 20px 0px;
  height: auto;

}

#partners .col-md-3 {
  margin: 100px 0;

}

#partners .col-md-3 .fa {
  color: rgba(51, 51, 51, 0.8);
}

#partners .col-md-3 h5 {
  font-family: "Playfair Display";
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
}

#partners .col-md-3 p {
  font-family: "Open Sans";
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  margin: 10px;
}


/*    Footer    */

footer {
  background-color: #34495e;
  color: #eee;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}