/*@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}*/


/*    body    */

body {
  background-color: #ecf0f1;
}


/*    Navigation    */

.navbar {
  height: 70px;
  background-color: rgba(26, 26, 26, 0.4);
  font-family: "Open Sans";
  display: flex;
  align-items: center;
}

.navbar .light, a {
  color: #ecf0f1;

}

a.navbar-brand.page-scroll:hover {
  color: rgba(236, 240, 241, 1);
}




i.fa {
  color: #fff;
}

/*    Header    */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(img/coffee-farm.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.row.text-center {
  font-family: "Open Sans";
}

.row.text-center h1 {
  font-family: "Open Sans"; 
  font-size: 74px;
  color: #ecf0f1;
}

.row.text-center p {
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #ecf0f1;
  font-family: "Playfair Display";
}




/*    About    */

#about {
  margin: 20px 0px 20px 0px;
  height: 300px;
}

#about .text-center {
  margin-top: 4.33%;
  margin-bottom: 4.33%;
}

#about h3 {
  margin: 40px;
  font-family: "Playfair Display";
  font-size: 36px;
}

#about p {
  font-family: "Open Sans";
  text-align: center;
}

/*    Services    */

#services {
  margin: 20px 0px 20px 0px;
  background-color: rgba(52, 73, 94, 1);
  color: #eee;
}

#services .services-icon i {
  margin: 10px;
  color: #eee;
}

#services h3 {
  margin: 30px;
  font-family: "Playfair Display";
  font-size: 36px;

}

#services h5 {
  margin: 10px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 20px;
}

#services p {
  font-family: "Open Sans";
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 14px;
}

#services .col-sm-4 {

}




/*    Partners    */

#partners {
  margin: 20px 0px 20px 0px;
  height: auto;

}

#partners .col-md-3 {
  margin: 50px 0;

}

#partners .col-md-3 .fa {
  color: rgba(51, 51, 51, 0.8);
}

#partners .col-md-3 h5 {
  font-family: "Playfair Display";
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
}

#partners .col-md-3 p {
  font-family: "Open Sans";
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  margin: 10px;
}


/*    Team      */

#team {
  height: auto;
  padding: 50px auto;
  background-color: rgba(52, 73, 94, 1);
  color: #eee;

}

#team img {
      border: 10px solid transparent;
      margin-top: 10px;
      margin-bottom: 30px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }

#team img:hover {
      border-color:rgba(236, 240, 241, 0.8);
  }


#team h3 {
  margin: 40px auto;
  font-size: 36px;
  font-family: "Playfair Display";
}

#team h5 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Open Sans";
}

#team p {
  font-family: "Open Sans";
  font-weight: lighter;
  margin: 20px;
  font-size: 14px;
}

#team .first-p {
  margin-top: 5px;
}

#team .last-p {
  margin-bottom: 60px;
}

/*    Footer    */

footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #eee;
  height: auto;
}