/*@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}*/

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(img/coffee-farm.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#about {
  margin: 20px 0px 20px 0px;
  height: 300px;
}

#about .text-center {
  margin-top: 4.33%;
}

#about h3 {
  margin: 40px;
  font-family: "Playfair Display";
}

#about p {
  font-family: "Open Sans";
  text-align: center;
}

#services {
  margin: 20px 0px 20px 0px;
  background-color: #2980b9;
  color: #eee;
}

#services .services-icon i {
  margin: 10px;
  color: #eee;
}

#services h3 {
  margin: 40px;
  font-family: "Playfair Display";
  font-size: 38px;


}

#services h5 {
  margin: 10px;
  font-family: "Open Sans";
  font-weight: bold;
}

#services p {
  font-family: "Open Sans";
  font-weight: lighter;
  margin-bottom: 20px;
}

#partners {
  margin: 20px 0px 20px 0px;
  height: 200px;

}

#partners .col-md-3 {
  margin: 100px 0;

}

footer {
  background-color: #34495e;
  color: #eee;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}