
/*    body    */

body {
  background-color: #ecf0f1;
  width: 100%;
}


/*    Navigation    */

.navbar {
  height: 70px;
  background-color: rgba(26, 26, 26, 0.4);
  font-family: "Open Sans";
  display: flex;
  align-items: center;
  width: 100vw;
}

.navbar .light, a {
  color: #ecf0f1;

}

a.navbar-brand.page-scroll:hover {
  color: rgba(236, 240, 241, 1);
}




i.fa {
  color: #fff;
}

/*    Header    */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(img/coffee-farm.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro a.btn {
  border: 2px solid white;
  border-radius: 50%;
}

.row.text-center {
  font-family: "Open Sans";
}

.row.text-center h1 {
  font-family: "Open Sans"; 
  font-size: 74px;
  color: #ecf0f1;
}

.row.text-center p {
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #ecf0f1;
  font-family: "Playfair Display";
}




/*    About    */

#about {
  margin: 20px 0px 20px 0px;
  height: 300px;
}

#about .text-center {
  margin-top: 4.33%;
  margin-bottom: 4.33%;
}

#about h3 {
  margin: 40px;
  font-family: "Playfair Display";
  font-size: 36px;
}

#about p {
  font-family: "Open Sans";
  text-align: center;
}

/*    Services    */

#services {
  margin: 20px 0px 20px 0px;
  background-color: rgba(52, 73, 94, 1);
  color: #eee;
}

#services .services-icon i {
  margin: 10px;
  color: #eee;
}

#services h3 {
  margin: 30px;
  font-family: "Playfair Display";
  font-size: 36px;

}

#services h5 {
  margin: 10px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 20px;
}

#services p {
  font-family: "Open Sans";
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 14px;
}

#services .col-sm-4 {

}




/*    Partners    */

#partners {
  margin: 20px 0px 20px 0px;
  height: auto;

}

#partners .col-md-3 {
  margin: 50px 0;

}

#partners .col-md-3 .fa {
  color: rgba(51, 51, 51, 0.8);
}

#partners .col-md-3 h5 {
  font-family: "Playfair Display";
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
}

#partners .col-md-3 p {
  font-family: "Open Sans";
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  margin: 10px;
  text-align: center;
}


/*    Team      */

#team {
  height: auto;
  padding: 50px auto;
  background-color: rgba(52, 73, 94, 1);
  color: #eee;

}

#team img {
      border: 10px solid transparent;
      margin-top: 10px;
      margin-bottom: 30px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }

#team img:hover {
      border-color:rgba(236, 240, 241, 0.8);
  }


#team h3 {
  margin: 40px auto;
  font-size: 36px;
  font-family: "Playfair Display";
}

#team h5 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Open Sans";
}

#team p {
  font-family: "Open Sans";
  font-weight: lighter;
  margin: 20px;
  font-size: 14px;
}

#team .first-p {
  margin-top: 5px;
}

#team .last-p {
  margin-bottom: 60px;
}

/*    Footer    */

footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #eee;
  height: auto;
  font-size: 10px;
}


footer .left {
  color: #eee;
}

footer .thumbnail {
  background-color: inherit;
  border: none;
}

footer .thumbnail h3 {
  padding-top: 20px;
  font-size: 16px;
  font-family: "Open Sans";
  margin: 20px auto;
}

footer .left form {
  background-color: inherit;
  color: rgb(51, 51, 51);
}

footer .left form input {
  background-color:  #ecf0f1;
}

footer .left .thumbnail p {
  font-family: "Open Sans";
  font-size: 10px;
  margin-bottom: 20px;
}

footer .btn {
  background-color: #ecf0f1;
  color: rgb(51, 51, 51);

}

footer .right hr {
  width: 320px;
}

footer .right h2 {
  font-family: "Playfair Display";
  font-size: 18px;
  margin: 20px auto;
}

footer .right p {
  font-family: "Open Sans";
  padding: 5px;
  line-height: 2;
  margin-bottom: 20px;
}


footer .right p.copyright {
  font-size: 8px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

footer .right a {
  padding: 30px 10px;
}



/*        MEDIA QUERIES         */


@media all and (max-width: 767px) {
  footer .thumbnail {
      text-align: center;
  }
  .row.text-center h1 {
    font-size: 36px;
  }
  .row.text-center p {
    font-size: 22px;
  }

  .navbar {
    display: block;
    color: white;
    float: left;
  }

  .navbar-collapse {
    background-color: rgba(52, 73, 94, 0.8);
    width: 100vw;
  }

  .navbar-brand {
    margin-top: 10px;
  }

  button.navbar-toggle {
    margin: 15px;
    padding-right: 25px;

  }
}












